@charset "UTF-8";
.mi-container {
    width: 1200px;
    margin: 0 auto 25px;
}
.mi-banner img {
    width: 100%;
}

/* 新闻 */
.intro-container{
    width: 1200px;
    margin: 20px auto;
}
.intro-container .content {padding-top: 20px; padding-bottom: 25px;}
.intro-container .top > span {
    font-size: 30px;
    color: #050706;
}
.intro-container .top > img {
    float: right;
    vertical-align: bottom;
    margin-top: 5px;
}
.intro-container .top .line {
    height: 3px;
    width: 100%;
    margin-top: 10px;
    background-image: url("../images/line.png");
}

.intro-container .center ul{
    margin-top: -10px;
}
.intro-container .center ul li{
    padding: 10px;
    padding-left: 18px;
    border-bottom: 1px solid #ccc;
    position: relative;
}
.intro-container .center ul li:before{
    content: '';
    display: block;
    height: 5px;
    width: 5px;
    background-image: url("../images/dot.png");
    position: absolute;
    left: 2px;
    top: 16px;
}
.intro-container .center ul li a{
    font-size: 14px;
    color: #050706;
    text-decoration: none;
}
.intro-container .center ul li a:hover{
    text-decoration: underline;
    color: #268a4a;
}
.intro-container .center{
    margin-left: 375px;
    margin-right: 320px;
}
#news-ad{
    width: 329px;
    float: left;
}
#news-ad > img {
    width: 100%;
}
.intro-container .right-section{
    float: right;
    width: 246px;
}
.intro-container .right-section .ad2{
    margin-top: 10px;
    margin-left: -12px;
}

/* 企业风采 */
.mi-tel-banner {
    margin-bottom: 20px;
}
.mi-left-con{
    width: 350px;
}
.mi-left-con .h-title{
    color: #050706;
    font-size: 24px;
    margin: 15px 0;
}
.mi-left-con,.mi-right-con p{
    color: #666;
    font-size: 12px;
    line-height: 1.4;
}
.mi-right-con {
    margin-left: 375px;
}
.mi-right-con .center-col{
    width: 380px;
    display: inline-block;
}
.mi-right-con .center-col .m-box{
    overflow: hidden;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    margin-bottom: 10px;
}
.mi-right-con .col-r1 .b-box a,
.mi-right-con .col-r2 .b-box a,
.mi-right-con .center-col .m-box a{
    color: #050706;
    text-decoration: none;
}
.mi-right-con .col-r1 .b-box a:hover,
.mi-right-con .col-r2 .b-box a:hover,
.mi-right-con .center-col .m-box a:hover{
    color: #268a4a;
    text-decoration: underline;
}
.mi-right-con .center-col .m-box .img-txt{
    margin-left: 118px;
}
.mi-right-con .col-r2 ,
.mi-right-con .col-r1 {
    width: 190px;
    display: inline-block;
    vertical-align: top;
    margin-left: 25px;
}

.mi-right-con .col-r2 .b-box,
.mi-right-con .col-r1 .b-box{
    border-bottom: 1px solid #ccc;
    height: 185px;
    margin-bottom: 10px;
}
.mi-right-con .col-r2 .b-box h4,
.mi-right-con .col-r1 .b-box h4{
    margin-top: 10px;
}

.mi-right-con .col-r1 .b-box h4,
.mi-right-con .col-r2 .b-box h4,
.mi-right-con .center-col .m-box .img-txt h4{
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 10px;
}


/* --- */
.merchant-row{
    overflow: hidden;
    background-color: #eff3f3;
    padding: 20px 0;
}
.merchant-row .product span.text {background-color: #eff3f3}
.merchant-row .merchant{
    float: left;
    margin-left: 26px;
}
.merchant-row .merchant img{width: 100%}
.merchant-row .merchant p{
    font-size: 18px;
    text-align: center;
    padding: 10px 0 25px;
}
.merchant-row .merchant.first{
    margin-left: 0;
}

/* 图片介绍表格 */
.mi-title{
    padding: 10px 0;
}
.product span{
    display: inline-block;
    height: 3px;
    background-color: #268a4a;
    width: 470px;
    margin-bottom: 6px;
}
.product span.text{
    text-align: center;
    height: auto;
    background-color: #fff;
    width: 260px;
    color: #050706;
    font-size: 30px;
}
.product-table {
    width: 100%;
    height: 960px;
    border: 1px solid #ccc;
    border-right: none;
    border-bottom: none;
}
.tab-row,.bottom-row .box{margin-top: -1px;}

.product-table .box img{width: 100%;height: 100%;
    -webkit-transition: -webkit-transform .2s linear;
    -moz-transition: -moz-transform .2s linear;
    -o-transition: -o-transform .2s linear;
    transition: transform .2s linear;
}
.product-table .box img:hover{
    -webkit-transform: translateX(-5px);
    -moz-transform: translateX(-5px);
    -ms-transform: translateX(-5px);
    -o-transform: translateX(-5px);
    transform: translateX(-5px);
}
.product-table .box > a{display: block;height: 239px;}
.product-table .box-col2 > a{display: block;height: 479px;}
.product-table .box {
    height: 240px;
    width: 239px;
    overflow: hidden;
    float: left;
    border: 1px solid #ccc;
    margin-left: -1px;
}
.product-table .box.bt {
    margin-top: -2px;
}
.product-table .box-col2 {
    height: 480px;
    width: 479px;
}




.pr {float: right !important;}
.pl {float: left !important;}
.clear{clear: both}
.wh100{width: 100%;}

/* 图片轮播 */
div.slideBox div.tips div.nums{right: 50%;margin-right: -45px;}